#progress {
  height: 85%;
  margin: 4px 16px 4px 16px;
  overflow-y: scroll;
  font-family: monospace;
  font-size: 10px;
}

#progress p {
  margin: 0px;
}

#table_results {
  border: 1px solid #DDEEEE;
  border-collapse: collapse;
  border-spacing: 0;
}

#table_results thead th {
  background-color: #DDEFEF;
  color: #333333;
  text-align: left;
  padding: 4px;
}

#table_results tbody td {
  border: solid 1px #DDEEEE;
  color: #333333;
  padding: 4px;
}
